<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>Hello World</title>
  </head>
  <body>
    お名前：<input type="text" id="name" />
    <script>
      $("#name").change(function () {
        $.post("/hello", encodeURI("name=" + $(this).val())).done(function (data) {
          $("#hello").text(data);
        });
      });
    </script>
    <h1 id="hello">こんにちは、名無ししさん。</h1>
  </body>
</html>
